alabaster==0.7.8
alembic==1.7.1
Babel==2.6.0

bleach==4.1.0
blinker==1.4

Click==7.0
command-not-found==0.3
constantly==15.1.0

cryptography==3.4.8

cypari2==2.1.1
decorator==4.4.2
decouple==0.0.7
defer==1.0.6

Django==3.2.7

duplicity==0.8.12.0

fasteners==0.14.1

future==0.18.2
gmpy2==2.1.0b3


html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0

incremental==16.10.1

Jinja2==3.0.1


language-selector==0.1

Markdown==3.3.4
markdown2==2.3.1

monotonic==1.5

nose==1.3.7
notebook==6.4.3

packaging==21.0

pandas==1.3.3

Pillow==3.1.0

prompt-toolkit==2.0.10
pyasn1==0.4.2
pyasn1-modules==0.2.1
python-apt==2.0.0+ubuntu0.20.4.6


requests==2.22.0

roman==2.0.0
rpy2==3.2.6

sage==9.0

Send2Trash==1.8.0
service-identity==18.1.0

six==1.14.0

Sphinx==1.8.5
tornado==6.1
Twisted==18.9.0

unattended-upgrades==0.1
urllib3==1.25.8
