.movie{
	width: 100%;
	height: 820px;
	background: blue;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 50px;
}
.movie .banner{
	width: 400px;
	height: 670px;
	background: yellow;
}
.movie .banner img{
	width: 100%;
	height: 100%;
}

.movie .movie-video{
	width: 1189px;
	height: 670px;
	position: relative;
}
.movie .movie-video > div{
	width: 100%;
	height: 100%;
	background: black;
}
.about_movie{
	padding: 0 30px 0 30px;
	color: white;
	background: #1f2128;
}
.about_movie .user_side ul{
	display: flex;
}
.about_movie .user_side ul li{
	margin-left: 20px;
}
.about_movie .title h3{
	margin-top: 10px;
}
.about_movie .user_side svg{
	fill: white;
}
.about_movie .row a{
	color: yellow;
	margin-left: 10px;
}
.about_movie .row{
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 25px;
}
.about_movie .desctiption{
	margin-top: 50px;
}
.about_movie .desctiption p{
	margin-top: 20px;
	font-size: 16px;
	width: 50%;
}







.actors{
	margin-top: 60px;
}
.actors .all-actors{
	color: white;
	font-weight: 900;
	font-size: 22px;
}
.swc-2 {
  width: 100%;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  margin-top: 25px;
}
.swc-2 .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swc-2 .swiper-slide{
  height: 175px;
  width: 100px;
  position: relative;
  transition: z-index 5s;
}
.swc-2 .swiper-slide img{
	width: 100%;
	height: 140px;
	border-radius: 7px;
}
.swc-2 .swiper-slide .actor-name{
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height:30px;
	color: white;
}
.svg_fill{
	fill:red;
}

.main-comment-section{
	display: flex;
	flex-direction: column;
	width: 40%;
	color: white;
}
.comment-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.comment-title h5{
	color: #adadad;
	padding: 10px;
	background: #242731;
}
.comment-text{
	width: 100%;
	height: 150px;
	background: #242731;
	margin-top: 20px;
	padding: 12px;
}
.comment-text textarea{
	height: 70px;
	background: #1f2128;
	outline: none;
	border: none;
	width: 86%;
	color: #adadad;
	resize: none;
	padding: 10px;
}
.comment-text .text-area{
	display: flex;
	justify-content: space-between;
}
.comment-text .button-section{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: flex-end;
}
.comment-text .button-section input[type=submit]{
	padding: 10px;
	background:#1f2128;
	color: white;
	border: none;
	margin-top: 20px;
}
.comment-text .button-section input[type=submit]:hover{
	color:#ff4343;
	transition: 0.3s;
}

.comments-setcion{
	display: flex;
	width: 100%;
	margin-top: 20px;
}
.comment-author-text{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px;
}
.comment-author-text .time-button{
	display: flex;
	justify-content: space-between;
}
.time-button .user-time{
	display: flex;
	flex-direction: column;
}
.time-button .user-time h6{
	margin-top: 4px;
	color:#adadad;
}

.comment-author-text .text{
	background: #242731;
	width: 100%;
	padding: 11px;
	color: #adadad;
}
.reply-text{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
}
.reply{
	width: 89%;
}
.reply-button{
	background: #ff4343;
	padding: 5px;
	border: none;
	color: white;
	border-radius: 3px;

}
.reply-button:hover{
	background: black;
	color: white;
	cursor: pointer;
}












.collection-wrapper{
  display:flex;
	padding: 13px;
	width: calc(100% / 3);
}
.collection-wrapper a{
	color: white;
}
.collection-wrapper .collection-img{
  width:50%;
}
.collection-wrapper .collection-img img{
  width:100%;
  height:100%;
}
.collection-wrapper .collection-right{
  display:flex;
  flex-direction:column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px;
	width: 50%;
}
.collection-wrapper .c-wrapper{
	height: 190px;
	display: flex;
	background: #242731;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.collection-background{
	width: 100%;
	height: 400px;
	margin-bottom: 40px;
	border-radius: 10px;
	overflow: hidden;
	color: white;
	position: relative;
}

.collection-background .background-image{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: 0.5;
	position: absolute;
}
.collection-bg-title{
	position: absolute;
	z-index: 100000;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
