{% extends "core/base.html" %}
{% block password_reset_confirm %}
<div class="authorization-content">
  <div class="cover">
    <div class="log-in-image"><img src="/images/images/2.svg"></div>
  </div>
  <div class="login-register">
    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="row">
        <input type="password" name="new_password1" placeholder="ახალი პაროლი" id='id_new_password1' class="form-size">
      </div>
      <div class="row">
        <input type="password" name="new_password2" placeholder="გაიმეორეთ პაროლი" id='id_new_password2' class="form-size">
      </div>
      <div class="row" style="justify-content:flex-end;">
        <button type="submit" name="button">პაროლის შეცვლა</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
